[submodule "part-a-docs"]
	path = part-a-docs
	url = https://github.com/ozzy2438/Part-A-Docs.git
[submodule "docs"]
	path = docs
	url = https://github.com/ozzy2438/Part-A-Docs.git
[submodule "server"]
	path = server
	url = https://github.com/ozzy2438/Server.git
[submodule "client"]
	path = client
	url = https://github.com/ozzy2438/Client.git
[submodule "full-mern-project"]
	path = full-mern-project
	url = https://github.com/ozzy2438/Full-MERN-Project.git
